<div class="wrapper-module" *ngIf="!showRegisterMovieSchedule">
  <span class="title-module">Registra horas para tus peliculas</span>
  <app-table
    (add)="showScheduleMovie()"
    (edit)="edit($event)"
    (unlock)="unlockMovie($event)"
    (filter)="getScheduleMovie($event)"
    [pageIndex]="pageIndex"
    [pageSize]="size"
    [action]="tableActions"
    [totalElements]="totalElements"
    [tableColumns]="columnsTable"
    [tableData]="dataTable"
    [isSearchQuick]="true"
    [isPageable]="isPageable"
    addActionName="Registrar Horario"
    rowActionName="Opciones"
    [image]="image">
  </app-table>
</div>
<ng-container *ngIf="showRegisterMovieSchedule">
  <div class="wrapper-main-schedule-movie-create">
    <form [formGroup]="formMovieSchedule" class="form-grid grid form-movie">



      <div class="col-12 md:col-12 lg:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label class="form-label">Pelicula</label>
            <ng-select (change)="changeSchedule($event)"
              [items]="dataMovieHome"
              bindLabel="label"
              bindValue="value"
              [clearable]="false"
              [searchable]="false"
              appValidateErrors
              class="custom-two form-ng-select"
              formControlName="movie_id"
              placeholder="Seleccione una opción">
            </ng-select>
          </div>
        </div>
      </div>



      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="movie_schedule_price">Precio entrada</label>
            <input type="text" id="movie_schedule_price" formControlName="movie_schedule_price" class="form-input"
                   placeholder="Ingrese un precio" appValidateErrors appInputMask="float">
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded datepicker-line">
          <div class="form-group">
            <label class="form-label">Fecha de inicio</label>
            <input [ngxMatDatetimePicker]="picker"
                   appValidateErrors class="form-input"
                   formControlName="movie_schedule_presentation" matInput
                   placeholder="Seleccione la fecha">
            <mat-datepicker-toggle [for]="$any(picker)" class="button" matSuffix></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [disableMinute]="false" [enableMeridian]="true"
                                     [hideTime]="false" [showSeconds]="false"
                                     [showSpinners]="true" [stepHour]="1"
                                     [stepMinute]="1" [touchUi]="true" (opened)="setDate()">
              <ng-template>
                Confirmar<em class="icon-check"></em>
              </ng-template>
            </ngx-mat-datetime-picker>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="movie_schedule_video_quality">Ingresa la calidad</label>
            <input type="text" id="movie_schedule_video_quality" formControlName="movie_schedule_video_quality"
                   class="form-input"
                   placeholder="Ingresa si es en 3D, 2D..." appValidateErrors>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-12 lg:col-12">
        <div class="form-container form-rounded">
          <div class="form-group">
            <div class="form-btn">
              <button class="btn-form" (click)="sendRegisterSchedule()">Agregar fechas</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>
