<div class="wrapper-main-home">
  <div class="home-content--left">
    <div class="content-left--top">
      <img [src]="trailer" alt="Trailer de la película">
      <span>Mira el Trailer <em class="icon-play-circle-f"></em></span>
    </div>
    <div class="content-left--center">
      <div class="content-card-movie" routerLink="../movie/{{movie.movie_id}}" *ngFor="let movie of movies">
        <div class="left-center--card__img">
          <img [src]="movie.movie_image" [alt]="movie.movie_name_spanish">
        </div>
        <div class="left-center--card__text">
          <span class="card-text--title">{{ movie.movie_name_spanish }}</span>
          <div class="content-card-text--category">
            <span class="card-text--category" *ngFor="let category of movie.movie_gender">{{ category }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-left--bottom">
      <app-card-food></app-card-food>
    </div>
  </div>
  <div class="home-content--right">
    <div class="content-right--carrousel">
      <div class="content-right--main">
        <img src="assets/img/Sillas/silla-normal.svg" alt="Silla normal">
        <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
        <img src="assets/img/Sillas/silla-ocupada.svg" alt="Silla ocupada">
        <img src="assets/img/Sillas/silla-desactivada.svg" alt="Silla desactivada">
      </div>
    </div>
  </div>
</div>
