<div class="wrapper-main-home">
  <div class="home-content--left">
    <div class="content-left--top">
      <iframe [src]="getTrailer()" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
    <div class="content-left--center">
      <div class="content-card-movie" routerLink="../movie/{{movie.movie_id}}" *ngFor="let movie of movies">
        <div class="left-center--card__img">
          <img [src]="movie.movie_image" [alt]="movie.movie_name_spanish">
        </div>
        <div class="left-center--card__text">
          <span class="card-text--title">{{ movie.movie_name_spanish }}</span>
          <div class="content-card-text--category">
            <span class="card-text--category" *ngFor="let category of movie.movie_gender">{{ category }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content-left--bottom">
      <app-card-food></app-card-food>
    </div>
  </div>
  <div class="home-content--right">
    <div class="content-right--carrousel">
      <div class="content-right--main" *ngIf="status_chair">
        <span>{{ movie_name }}</span>
        <span>{{ movie_date_schedule }}</span>
        <div class="chair-row"
             *ngFor="let row of [chairsA, chairsB, chairsC, chairsD, chairsE, chairsF, chairsG]; let i = index">
          <ng-container *ngFor="let chair of row">
            <div class="main-chair">
              <img *ngIf="chair.status_place_to_sit && !chair.occupied_place_to_sit"
                   src="assets/img/Sillas/silla-normal.svg" alt="{{chair.place_to_sit_id}}">
              <img *ngIf="!chair.status_place_to_sit" src="assets/img/Sillas/silla-desactivada.svg"
                   alt="{{chair.place_to_sit_id}}">
              <img *ngIf="chair.occupied_place_to_sit" src="assets/img/Sillas/silla-ocupada.svg"
                   alt="{{chair.place_to_sit_id}}">
              <span>{{ chair.row }} {{ chair.column }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="content-right--main__img" *ngIf="!status_chair">
        <img src="assets/img/img-home.jpg" alt="img">
      </div>
    </div>
  </div>
</div>
