.main-loader-content {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  cursor: auto;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);

  .loader-content {
    margin: 10px;
    width: 160px;
    height: 160px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
