.wrapper-main-navbar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 12px;
  //background-color: theme-palette-color('background', 'translucid');
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .main-navbar--card {
    width: 100%;
    height: 160px;
    padding: 12px;
    border-radius: 8px;
    background-color: theme-palette-color('background', 'translucidWhite');
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .navbar-card--profile {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }

    .navbar-card--info {
      width: 100%;
      height: 50%;
      display: flex;
      gap: 12px;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      span {
        font-size: 18px;
        font-weight: 500;
        color: whitesmoke;
      }
    }
  }

  .main-navbar--routes {
    width: 100%;
    height: 100%;
    //height: calc(100% - 160px);
    padding: 12px 0;
    border-radius: 8px;

    .navbar-routes-top {
      width: 100%;
      height: calc(100% - 60px);
      display: flex;
      gap: 12px;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 44px;
        font-size: 18px;
        font-weight: 500;
        color: whitesmoke;
        border-radius: 8px;
        padding: 6px 24px;
        background-color: theme-palette-color('background', 'translucid');
        border: 1px solid theme-palette-color('background', 'translucidWhite');
        cursor: default;
        transition: all linear .25s;

        em {
          font-size: 22px;
          color: theme-palette-color('color', 'secondary');
          margin-right: 6px;
        }

        &:hover {
          color: black;
          cursor: pointer;
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-h');
          background-color: theme-palette-color('color', 'secondary');
          transition: all linear .25s;

          em {
            color: black;
          }
        }


      }
    }

    .navbar-routes-bottom {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 44px;
        font-size: 18px;
        font-weight: 500;
        color: whitesmoke;
        border-radius: 8px;
        padding: 6px 24px;
        background-color: theme-palette-color('background', 'translucid');
        border: 1px solid theme-palette-color('background', 'translucidWhite');
        cursor: default;

        em {
          font-size: 22px;
          margin-right: 6px;
          color: theme-palette-color('color', 'secondary');
        }

        &:hover {
          color: black;
          cursor: pointer;
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-h');
          background-color: theme-palette-color('color', 'secondary');
          transition: all linear .25s;

          em {
            color: black;
          }
        }

      }
    }
  }
}
