@media (min-width: 320px) and (max-width: 425px) {
  .search-input {
    width: 85% !important;
  }
  .search-input:placeholder-shown {
    text-overflow: ellipsis;
  }

  .button-header {
    em {
      margin: 0 !important;
    }

    span {
      display: none;
    }
  }

}

app-table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mdc-data-table__cell{
  overflow: visible !important;
}

.loading-shade {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

  mat-progress-spinner {
    color: theme-palette-color('color', 'primary') !important;
  }

}

.data-not-found {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    height: 160px;
    margin-top: 32px;
    margin-bottom: 12px;
  }

  span {
    font-size: 16px;
    color: theme-palette-color('grays', 700);
  }
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: none !important;
}

.mat-header-row {
  background-color: theme-palette-color('material', 800);

  th {
    color: transparent !important;
    border-bottom: 1px dashed theme-palette-color('grays', 200);
  }
}

tr.mat-row {
  border-bottom: 1px solid theme-palette-color('grays', 100) !important;
  font-size: 13px !important;

  &:last-child {
    border-bottom: none !important;
  }
}

.mat-paginator {
  border-radius: 0 0 8px 8px;
  border-top: 1px solid theme-palette-color('grays', 100) !important;
}

.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100% - 98px);
  position: relative;
  margin: 40px 0 0;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

  .action-table {
    min-height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 auto;
    }
  }

  .table-content {
    flex: 1 1 auto;
    overflow: auto;
    background: transparent;
    border-radius: 0 0 10px 10px;

    table {
      width: 100%;
      text-align: left;
      background-color: theme-palette-color('background', 'tableBody');
      border-collapse: collapse;
      color: theme-palette-color('font', 'title');

      thead {
        background: transparent;
      }

      tbody {
        background: transparent;
      }

      tr {
        color: theme-palette-color('font', 'span');
      }

      td {
        padding: 2px 10px;
        color: theme-palette-color('font', 'span');

        .btn-row-expanded {
          text-align: center;

          button {
            border: none;
            outline: none;
            cursor: pointer;
            align-items: center;
            display: inline-flex;
            justify-content: center;
            background-color: transparent;

            em {
              font-size: 20px;
              color: theme-palette-color('font', 'title');
            }
          }
        }

        .btn-disabled {
          opacity: 1 !important;
          cursor: default !important;
          background-color: theme-palette-color('grays', 300) !important;
        }

        .btn-actions {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          margin: 4px;
          border: none;
          cursor: pointer;
          border-radius: 100%;
          background-color: theme-palette-color('background', 'table');

          em {
            font-size: 18px;
            color: white;
          }

          &:hover {
            background-color: theme-palette-color('color', 'hover');
          }
        }
      }

      th {
        font-size: 14px;
        padding: 6px 10px;
        text-align: center;
        font-weight: 500;
      }

      .table-container-expand {
        overflow: hidden;
        display: flex;

        .table-content-expand {
          width: 100%;
          padding: 10px 42px;
          background: transparent;

          table {
            text-align: center !important;
          }
        }
      }
    }
  }
}

th {
  white-space: nowrap;
}

.table-franchise {
  padding: 8px 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-arrow {
  margin-right: -20px !important;
}

.mat-sort-header-container {
  justify-content: center;
}

.mat-header-cell {
  color: theme-palette-color('font', 'title');
}

.table-expanded-stripped {

  .table-content-expand {
    tr:nth-child(odd) {
      background-color: #f6f6f6 !important;
    }
  }
}

.mat-cell {
  color: theme-palette-color('font', 'title');
  border: none !important;
}

.mat-paginator-container {
  color: theme-palette-color('grays', 700);
  font-size: 14px;
}

.mat-tooltip {
  display: none !important;
}

tr.mat-row, tr.mat-footer-row {
  height: auto !important;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  padding: 0 20px;
  background: theme-palette-color('background', 'table');
  border-radius: 8px 8px 0 0;
  min-height: 62px;

  .actions-group {
    display: flex;
    gap: 0.5em;

    .button-header, .button-import {
      width: max-content;
      padding: 0 16px;
      border-radius: 4px;
      font-size: 14px;
      background-color: transparent;
      color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      max-height: 40px;
      min-height: 40px;
      text-decoration: none;
      border: 2px solid #FFF;
      font-weight: 500;

      em {
        margin-right: 6px;
        font-weight: 500;
      }

      &:hover {
        color: theme-palette-color('color', 'primary');
        background-color: #FFF;
      }
    }

  }

  .content-left {
    display: flex;
    max-width: 500px;
    gap: 16px;
    flex: 1;

    .content-button-clear {
      flex: 1;

      .btn {
        max-height: 40px;
        max-width: 100px;

        span {
          font-weight: 600;
        }
      }
    }

    .search-group {
      position: relative;
      flex: 12;
      background-color: theme-palette-color('background', 'translucidWhite');
      border-radius: 4px;

      .search-input {
        width: 100%;
        background: none;
        font-size: 14px;
        max-height: 40px;
        padding: 8px 12px;
        outline: none;
        border: none;
        border-radius: 4px;
        font-family: $font-family;
        height: 40px;
        cursor: text;
      }

      em {
        position: absolute;
        right: 12px;
        top: 12px;
        font-size: 16px;
        font-weight: bolder;
        color: theme-palette-color('grays', 600);
      }
    }
  }

}

.search-group {
  label {
    cursor: pointer;
  }
}

.header-column {
  cursor: pointer !important;

  .colum-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .icon-search {
      font-size: 12px;
    }
  }
}

tr.example-detail-row {
  height: 0;
}

/**** Status table ***/
.dataTypeTable {
  border-radius: 4px;
}

.approved {
  color: $success-color;
  font-weight: 500;
}

.pending {
  color: $warning-color;
  font-weight: 500;
}

.reversed {
  color: $reversed-color;
  font-weight: 500;
}

.rejected {
  color: $error-color;
  font-weight: 500;
}

.expired {
  color: #a8a8a8;
  font-weight: 500;
}

.open {
  color: #0909B6;
  font-weight: 500;
}

.next{
  color: #8519ea;
  font-weight: 500;
}

.frozen {
  color: #63a6e1;
  font-weight: 500;
}

.to-cancel {
  color: #565151;
  font-weight: 500;
}

/*** Franchises table***/
.dataTypeFranchise {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  flex-wrap: nowrap;

  img {
    width: 32px;
  }
}

.dataTypeFranchiseClear {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

