<div class="wrapper-main-purchase">
  <div class="wrapper-main-purchase--content">
    <div class="chair-screen" *ngIf="screen == 1">
      <div class="main-purchase-top--chair">
        <div class="main-purchase-top--screen">
          <iframe [src]="getTrailerUrl()" title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <!--          <img src="assets/img/video-pantalla.gif" alt="">-->
        </div>
        <div class="main-purchase-center--chair">
          <div class="chair-row"
               *ngFor="let row of [chairsA, chairsB, chairsC, chairsD, chairsE, chairsF, chairsG]; let i = index">
            <ng-container *ngFor="let chair of row">
              <div class="main-chair"
                   (mouseenter)="chair.status_place_to_sit ? showTooltip(chair.place_to_sit_id, chair.row) : null"
                   (mouseleave)="hideTooltip()">
                <img *ngIf="!chair.status_place_to_sit" src="assets/img/Sillas/silla-desactivada.svg"
                     alt="{{chair.place_to_sit_id}}">
                <img *ngIf="chair.status_place_to_sit && !chair.occupied_place_to_sit && !isSelected(chair)"
                     src="assets/img/Sillas/silla-normal.svg" alt="{{chair.place_to_sit_id}}">
                <img *ngIf="chair.status_place_to_sit && !chair.occupied_place_to_sit && isSelected(chair)"
                     src="assets/img/Sillas/silla-seleccionada.svg" alt="{{chair.place_to_sit_id}}">
                <img *ngIf="chair.occupied_place_to_sit" src="assets/img/Sillas/silla-ocupada.svg"
                     alt="{{chair.place_to_sit_id}}">
                <span>{{ chair.row }} {{ chair.column }}</span>
                <div class="tooltip"
                     *ngIf="tooltipChairId === chair.place_to_sit_id && chair.status_place_to_sit"
                     [ngClass]="{'tooltip-top': !isFirstRow, 'tooltip-bottom': isFirstRow}">
                  <button (click)="executeOptionB(chair)"><em class="icon-eye"></em></button>
                  <button (click)="executeOptionA(chair)"><em class="icon-shopping-cart"></em></button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="main-purchase-bottom--chair">
        <div class="info-chair">
          <div class="chair">
            <img src="assets/img/Sillas/silla-normal.svg" alt="Silla normal">
            <span>Disponible</span>
          </div>
          <div class="chair">
            <img src="assets/img/Sillas/silla-ocupada.svg" alt="Silla ocupada">
            <span>Ocupada</span>
          </div>
          <div class="chair">
            <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
            <span>Seleccionada</span>
          </div>
          <div class="chair">
            <img src="assets/img/Sillas/silla-desactivada.svg" alt="Silla desactivada">
            <span>Fuera de servicio</span>
          </div>
        </div>
        <button (click)="nextScreen(2)">Agregar comida</button>
      </div>
    </div>
    <div class="food-screen" *ngIf="screen == 2">
      <div class="main-purchase-btn-return">
        <button (click)="nextScreen(1)"><em class="icon-arrow-left"></em></button>
      </div>
      <div class="main-purchase-content--food">
        <div class="card-food" *ngFor="let food of dataFood">
          <img src="{{food.food_img}}" alt="{{food.food_name}}">
          <h2>{{ food.food_name }}</h2>
<!--          <span>Comida salada</span>-->
          <div class="stock-food">
            <button (click)="decrement()">-</button>
            <span>{{ quantityFood }}</span>
            <button (click)="increment()">+</button>
          </div>
          <div class="price-food">
            <span>${{food.food_price}}</span>
            <button>Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-main-purchase--checkout">
    <app-checkout></app-checkout>
  </div>
</div>
