<div class="wrapper-module" *ngIf="!showRegisterMovie">
  <span class="title-module">Administra tus usuarios</span>
  <app-table
    (add)="showCreateMovie()"
    (edit)="edit($event)"
    (unlock)="unlockMovie($event)"
    (filter)="getMovieTable($event)"
    [pageIndex]="pageIndex"
    [pageSize]="size"
    [action]="tableActions"
    [totalElements]="totalElements"
    [tableColumns]="columnsTable"
    [tableData]="dataTable"
    [isSearchQuick]="true"
    [isPageable]="isPageable"
    addActionName="Nueva pelicula"
    rowActionName="Opciones"
    [image]="image">
  </app-table>
  <div class="screen-gray" *ngIf="menuEditMovie"></div>
</div>

<ng-container *ngIf="showRegisterMovie">
<div class="wrapper-main-movie-create">
  <form [formGroup]="formMovie"></form>
</div>
</ng-container>
