<div class="wrapper-main-nav">
  <div class="main-nav--title">
    <img src="assets/img/logo.png" alt="Logo del cine leonelda">
  </div>
  <div class="main-nav--search">
    <label>
      <em class="icon-search"></em>
      <input type="text" placeholder="Ingresa lo que quieras buscar">
    </label>
  </div>
  <div class="main-nav--icons">
    <span>
      <em class="icon-screen" (click)="toggleFullScreen()"></em>
    </span>
    <span (click)="openInfoPayments()" *ngIf="user">
      <em class="icon-coin"></em>
    </span>
  </div>
  <ng-container *ngIf="viewScreenPayments">
    <div class="content-info-payments">
      <div class="data-checkout" *ngFor="let dataChe of dataCheckout">
        <span>{{ dataChe.checkout_reference }}</span>
        <span>{{ dataChe.checkout_create_date | date }}</span>
        <span>{{ dataChe.checkout_status }}</span>
        <span>$ {{ dataChe.checkout_price }}</span>
      </div>
    </div>
  </ng-container>
</div>
