<div class="wrapper-main-nav">
  <div class="main-nav--title">
    <img src="assets/img/leonelda.png" alt="Logo del cine leonelda">
    <span>Cine el niño</span>
  </div>
  <div class="main-nav--search">
    <label>
      <em class="icon-search"></em>
      <input type="text" placeholder="Ingresa lo que quieras buscar">
    </label>
  </div>
  <div class="main-nav--icons">
    <span>
      <em class="icon-star-f"></em>
    </span>
    <span>
      <em class="icon-bell"></em>
    </span>
  </div>
</div>
