<div class="wrapper-module" *ngIf="!showRegisterFood">
  <span class="title-module">Administra tus usuarios</span>
  <app-table
    (add)="createFood()"
    (edit)="edit($event)"
    (unlock)="unlockFood($event)"
    (filter)="getFoodTable($event)"
    [pageIndex]="pageIndex"
    [pageSize]="size"
    [action]="tableActions"
    [totalElements]="totalElements"
    [tableColumns]="columnsTable"
    [tableData]="dataTable"
    [isSearchQuick]="true"
    [isPageable]="isPageable"
    addActionName="Nueva comida"
    rowActionName="Opciones"
    [image]="image">
  </app-table>
  <div class="screen-gray" *ngIf="menuEditFood"></div>
</div>

<ng-container *ngIf="showRegisterFood">
  <div class="wrapper-main-food-create">
    <form [formGroup]="formFood" class="form-grid grid form-food">

      <div class="col-12 md:col-6 lg:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <div class="form-image" (change)="uploadImages($event)">
              <label for="food_image" class="form-upload-image"><a>Sube tu imagen</a>, el peso maximo es de 10MB</label>
              <input id="food_image" type="file">
            </div>
            <div class="form-control-image" *ngFor="let base64Img of fileImageProduct; let i = index">
              <img [src]="base64Img" alt="img">
              <span>{{ fileNameProduct[i] }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label class="form-label">Tipo de comida</label>
            <ng-select (change)="changeTypeFood($event)"
                       [items]="dataTypeFood"
                       bindLabel="label"
                       bindValue="value"
                       [clearable]="false"
                       [searchable]="false"
                       appValidateErrors
                       class="custom-two form-ng-select"
                       formControlName="type_food_id"
                       placeholder="Seleccione una opción">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-12 lg:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label class="form-label">Variante de la comida</label>
            <ng-select
              [items]="dataVariantFood"
              bindLabel="label"
              bindValue="value"
              [clearable]="false"
              [searchable]="false"
              appValidateErrors
              class="custom-two form-ng-select"
              formControlName="variant_type_food_id"
              placeholder="Seleccione una opción">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="food_name">Nombre</label>
            <input type="text" id="food_name" formControlName="food_name" class="form-input"
                   placeholder="Ingresa el nombre de la ocmida" appValidateErrors>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="food_description">Descripcion</label>
            <input type="text" id="food_description" formControlName="food_description" class="form-input"
                   placeholder="Ingresa una descripcion" appValidateErrors>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="food_price">Precio</label>
            <input type="text" id="food_price" formControlName="food_price" class="form-input"
                   placeholder="Ingresa un precio" appValidateErrors appInputMask="float">
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 log:col-6">
        <div class="form-container form-rounded">
          <div class="form-group">
            <label for="food_stock">Stock</label>
            <input type="text" id="food_stock" formControlName="food_stock" class="form-input"
                   placeholder="Agrega un stock inicial" appValidateErrors appInputMask="integer">
          </div>
        </div>
      </div>
      <div class="col-12 md:col-12 lg:col-12">
        <div class="form-container form-rounded">
          <div class="form-group">
            <div class="form-btn">
              <button class="btn-form" (click)="sendFormRegisterFood()">Agregar comida</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>

