<div class="wrapper-main-movie">
  <div class="wrapper-main-movie--top">
    <div class="movie-top--slider">
      <div class="movie-top--slider__img">
        <img src="assets/img/scream-VI.webp" alt="Imagen del slider">
      </div>
      <div class="movie-top--slider__content">
        <div class="slider-content--title">
          <span>Scream VI</span>
          <div>
            <em class="icon-star-full"></em>
            <em class="icon-star-full"></em>
            <em class="icon-star-full"></em>
            <em class="icon-star-full"></em>
            <em class="icon-star"></em>
          </div>
        </div>
        <div class="slider-content--info">
          <span>2023</span>
          <span>2h 2m</span>
        </div>
        <div class="slider-content--text">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda ex id illo, illum ipsa ipsam modi, nam nemo porro quae quas, quasi quibusdam reprehenderit tempora tempore unde voluptatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque facere harum illo laborum laudantium maiores nostrum omnis quo tempore. Aut iure nesciunt recusandae tenetur vero voluptatum. Cupiditate, quod sed?</span>
        </div>
        <div class="slider-content--buttons">
          <button>Comprar tickets</button>
          <button>Agregar a favoritos</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-main-movie--bottom">
    <div class="movie-bottom-slider">
      <app-card-movie></app-card-movie>
    </div>
  </div>
</div>
