@use "sass:map";

$theme-palette: (
  material:(
    50: #DDFBFFl,
    100: #BBF6FF,
    200: #9AF2FF,
    300: #78EEFF,
    400: #56E9FF,
    500: #34E5FF,
    600: #12E1FF,
    700: #00D1F0,
    800: #00B3CE,
    900: #0096AC,
    contrast: (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: #FAEDED,
    )
  ),
  color:(
    'primary': #a1d9d9,
    'secondary': #b4e1e1,
    'tertiary':#c7e8e8,
    'cuaternario': #d9f0f0,
    'quinario': #d9f0f0,
    'box-shadow-p': rgba(161, 217, 217, .4),
    'box-shadow-h': rgba(161, 217, 217, .9)
  ),
  background: (
    'translucid': rgba(0, 0, 0, 0.1),
    'translucidTwo': rgba(0, 0, 0, 0.2),
    'translucidWhite': rgba(210, 210, 210, 0.1),
    'translucidBorder': rgba(143, 143, 143, 0.15),
    'primary': #EBEBEB,
    'secondary': #FFFFFF,
    'pardo': #212121,
    'negro':#101010,
    'table':#273737,
    'tableBody':rgba(188, 188, 188, 0.1),
  ),
  grays:(
    25: #F7F7F7,
    50: #F1F1F1,
    100: #EAEAEA,
    200: #D5D5D5,
    300: #C0C0C0,
    400: #AAAAAA,
    500: #959595,
    600: #808080,
    700: #666666,
    800: #5C5C5C,
    900: #3E3E3E,
  ),
  font:(
    'span': #e5e5e5,
    'span_dos': #b6b6b6,
    'title': #384461,
    'subtitle': #091e42
  ),
);

@function theme-palette-color($palette,$scale) {
  @return map.get(get-pallete($palette), $scale)
}

@function get-pallete($palette) {
  @return map.get($theme-palette, $palette)
}

@import "material";
