<div class="wrapper-main-navbar-adm" [ngClass]="{'wrapper-main-navbar-adm--reduce': reduceNavBar}">
  <div class="content-main-navbar-top">
    <span class="name-person-navbar">Jose Leonardo</span>
    <em class=" icon-menu-navbar icon-menu" (click)="navBarWidth()"></em>
  </div>
  <div class="content-main-navbar-main" routerLink="../administration">
    <em class="icon-grid"></em>
    <span>Dashboard</span>
  </div>
  <div class="content-main-navbar-main" routerLink="user" routerLinkActive="active">
    <em class="icon-user"></em>
    <span>Usuario</span>
  </div>
  <div class="content-main-navbar-main" routerLink="movies" routerLinkActive="active">
    <em class="icon-movie"></em>
    <span>Peliculas</span>
  </div>
  <div class="content-main-navbar-main" routerLink="food" routerLinkActive="active">
    <em class="icon-pizza-slice"></em>
    <span>Comida</span>
  </div>
  <div class="content-main-navbar-main" routerLink="orders" routerLinkActive="active">
    <em class="icon-ticket"></em>
    <span>Ordenes de compra</span>
  </div>
  <div class="content-main-navbar-main" routerLink="combos" routerLinkActive="active">
    <em class="icon-rocket"></em>
    <span>Combos</span>
  </div>
  <div class="content-main-navbar-main" routerLink="settings" routerLinkActive="active">
    <em class="icon-cog"></em>
    <span>Configuracion</span>
  </div>
</div>
