<div class="wrapper-main-dashboard">
  <div class="wrapper-main-dashboard--left">
    <div class="dashboard-left--top">
      <div class="card-info">
        <span>Tickets vendidos</span>
        <span>125</span>
      </div>
      <div class="card-info">
        <span>Comida vendida</span>
        <span>64</span>
      </div>
      <div class="card-info">
        <span>Combos vendidos</span>
        <span>56</span>
      </div>
    </div>
  </div>
  <div class="wrapper-main-dashboard--right">
<!--    <span>asd</span>-->
  </div>
</div>
