<div class="wrapper-module">
  <span class="title-module">Administra tus combos</span>
  <app-table
    (add)="createCombo()"
    (edit)="edit($event)"
    (unlock)="unlockCombo($event)"
    (filter)="getComboTable($event)"
    [pageIndex]="pageIndex"
    [pageSize]="size"
    [action]="tableActions"
    [totalElements]="totalElements"
    [tableColumns]="columnsTable"
    [tableData]="dataTable"
    [isSearchQuick]="true"
    [isPageable]="isPageable"
    addActionName="Nuevo combo"
    rowActionName="Opciones"
    [image]="image">
  </app-table>
  <div class="screen-gray" *ngIf="menuEditCombo"></div>
</div>

<ng-container *ngIf="showRegisterCombo">

</ng-container>

<ng-container *ngIf="menuEditCombo">
  <app-combos-edit (editCombo)="editCombo($event)"></app-combos-edit>
</ng-container>

