.wrapper-main-food-create {

  form {

    label {
      color: theme-palette-color('font', 'span');
    }

    input {
      color: theme-palette-color('font', 'span') !important;
    }

    .form-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .btn-form {
        width: 160px;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        border-radius: 12px;
        color: theme-palette-color('font', 'title');
        background-color: theme-palette-color('color', 'primary');
        transition: all linear .25s;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-p');
          transition: all linear .25s;
        }
      }
    }
  }
}
