.wrapper-main-food {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: theme-palette-color('background', 'translucid');

  .wrapper-main-food--info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;

    span {
      font-size: 26px;
      font-weight: 500;
      color: theme-palette-color('font', 'span');
    }
  }

  .wrapper-main-food--content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
    padding: 12px;
    height: calc(100% - 60px);
    overflow-y: auto;

    app-card-food {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
      width: 100%;
    }
  }
}
