.wrapper-main-home {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;

  .home-content--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 60%;
    min-width: 320px;
    height: 100%;
    padding: 12px;
    overflow: scroll;
    border-radius: 8px;

    .content-left--top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      height: auto;
      min-height: 320px;
      border-radius: 12px;

      iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .content-left--center {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      height: 340px;
      padding: 12px;
      overflow: auto;
      min-height: 340px;

    }

    .content-left--bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      height: 150px;
      min-height: 150px;

      app-card-food {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
        overflow: auto;
        padding: 0 12px;
      }
    }
  }

  .home-content--right {
    width: 40%;
    height: 100%;
    padding: 12px;
    border-radius: 8px;

    .content-right--carrousel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
      height: 100%;
      padding: 4px 6px;
      overflow: scroll;

      .content-right--main {
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        width: 100%;
        height: 100%;
        min-height: 360px;
        border-radius: 12px;
        background-color: theme-palette-color('background', 'translucidTwo');

        span {
          width: 100%;
          text-align: center;
          font-size: 18px;
          color: theme-palette-color('font', 'span');
        }

        .chair-row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 100%;
          height: 50px;

          .main-chair {
            position: relative;
            width: 38px;
            height: 38px;

            img {
              width: 100%;
              height: 100%;

              &:hover {
                cursor: pointer;
                border-radius: 6px;
                background-color: theme-palette-color('background', 'translucidBorder');
                border: 1px solid theme-palette-color('color', 'primary');
              }
            }

            span {
              width: 100%;
              display: flex;
              justify-content: center;
              font-size: 10px;
              color: theme-palette-color('font', 'span');
            }

            .tooltip {
              display: flex;
              position: absolute;
              flex-direction: column;
              z-index: 10;
              padding: 4px;
              border-radius: 6px;
              border: 1px solid white;
              color: theme-palette-color('font', 'span');
              background-color: theme-palette-color('background', 'pardo');

              &.tooltip-top {
                left: 50%;
                top: -70px;
                transform: translateX(-50%);
              }

              &.tooltip-bottom {
                left: 50%;
                top: 35px;
                transform: translateX(-50%);
              }

              button {
                border: none;
                padding: 4px;
                margin: 2px 0;
                cursor: pointer;
                color: theme-palette-color('font', 'span');
                background-color: theme-palette-color('background', 'pardo');

                &:hover {
                  border-radius: 4px;
                  color: theme-palette-color('font', 'subtitle');
                  background-color: theme-palette-color('color', 'primary');
                }
              }
            }
          }
        }

        img {
          width: 26px;
          height: 26px;
        }
      }

      .content-right--main__img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper-main-home {
    flex-direction: column;

    .home-content--left {
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 300px;
      height: 100%;
      overflow: initial;

      .content-left--top {
        height: 340px;

        span {
          left: 10px;
          bottom: 10px;
        }
      }
    }

    .home-content--right {
      width: 100%;
      height: 450px;
    }
  }
}
