.wrapper-main-home {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;

  .home-content--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 60%;
    min-width: 320px;
    height: 100%;
    padding: 12px;
    overflow: scroll;
    border-radius: 8px;

    .content-left--top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      height: auto;
      min-height: 320px;
      border-radius: 12px;

      iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .content-left--center {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      height: 340px;
      padding: 12px;
      overflow: auto;
      min-height: 340px;

    }

    .content-left--bottom {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      height: 150px;
      min-height: 150px;

      app-card-food {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
        overflow: auto;
        padding: 0 12px;
      }
    }
  }

  .home-content--right {
    width: 40%;
    height: 100%;
    padding: 12px;
    border-radius: 8px;

    .content-right--carrousel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      width: 100%;
      height: 100%;
      padding: 4px 6px;
      overflow: scroll;

      .content-right--main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 100%;
        height: 100%;
        min-height: 360px;
        border-radius: 12px;
        background-color: theme-palette-color('background', 'translucidTwo');

        img {
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .wrapper-main-home {
    flex-direction: column;

    .home-content--left {
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 300px;
      height: 100%;
      overflow: initial;

      .content-left--top {
        height: 340px;

        span {
          left: 10px;
          bottom: 10px;
        }
      }
    }

    .home-content--right {
      width: 100%;
      height: 450px;
    }
  }
}
