.wrapper-main-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 290px;
  height: 520px;
  padding: 24px;
  background-color: theme-palette-color('background', 'negro');

  span {
    width: 100%;
    height: 30px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: theme-palette-color('color', 'secondary');
  }

  .form-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100% - 42px);

    .group-login {
      width: 100%;
      height: 80px;
      display: flex;
      gap: 6px;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      label {
        width: 95%;
        height: 20px;
        font-size: 18px;
        color: whitesmoke;
      }

      input {
        width: 95%;
        height: 35px;
        border: none;
        outline: none;
        padding: 4px 10px;
        color: whitesmoke;
        border-radius: 12px;
        background-color: theme-palette-color('background', 'translucidTwo');

        &::placeholder {
          color: rgba(245, 245, 245, 0.5);
        }
      }

      button {
        width: 80%;
        height: 35px;
        border: none;
        outline: none;
        padding: 4px 10px;
        color: whitesmoke;
        border-radius: 12px;
        background-color: theme-palette-color('background', 'translucidWhite');
        transition: all linear .25s;

        &:hover {
          color: black;
          cursor: pointer;
          background-color: theme-palette-color('color', 'secondary');
          transition: all linear .25s;
        }
      }
    }
  }

  .span-recovery-password {
    font-size: 18px;
    color: whitesmoke;
    transition: all linear .25s;

    &:hover {
      cursor: pointer;
      transition: all linear .25s;
      color: theme-palette-color('color', 'secondary');
    }
  }

  .span-create-account {
    font-size: 18px;
    color: whitesmoke;
    transition: all linear .25s;

    strong {
      cursor: pointer;
      color: theme-palette-color('color', 'cuaternario');
      transition: all linear .25s;

      &:hover {
        color: theme-palette-color('color', 'primary');
        transition: all linear .25s;
      }
    }
  }

}
