.wrapper-main-movie-create {
  width: 100%;
  height: 100%;
  border: 1px solid rebeccapurple;

  form{
    .mat-datepicker-toggle {
      position: absolute;
      right: 0;
      top: 17px;
      color: theme-palette-color('font', 'span');
    }
  }
}
