.wrapper-main-movie-create {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 12px;
  backdrop-filter: blur(50px);
  padding-top: 25px;
  background-color: theme-palette-color('background', 'translucidTwo');

  .form-movie {

    .form-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .btn-form {
        width: 160px;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        border-radius: 12px;
        color: theme-palette-color('font', 'title');
        background-color: theme-palette-color('color', 'primary');
        transition: all linear .25s;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-p');
          transition: all linear .25s;
        }
      }
    }

    .div-abs {
      position: absolute;
      top: 0;
      left: 0;

      .form-btn {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 32px;
          height: 32px;
          border: none;
          outline: none;
          font-size: 24px;
          border-radius: 50%;
          color: theme-palette-color('font', 'title');
          background-color: theme-palette-color('color', 'primary');
          transition: all linear .45s;

          &:hover {
            cursor: pointer;
            transform: rotate(360deg);
            transition: all linear .45s;
          }
        }
      }
    }

    label {
      color: theme-palette-color('font', 'span') !important;
      font-size: 14px !important;
    }

    .form-input {
      color: theme-palette-color('font', 'span') !important;
    }

    .mat-datepicker-toggle {
      position: absolute;
      right: 0;
      top: 17px;
      color: theme-palette-color('font', 'span');
    }

    .ng-select-container {
      color: whitesmoke ;
      background-color: transparent ;
    }

    .form-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .btn-form {
        width: 160px;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        border-radius: 12px;
        color: theme-palette-color('font', 'title');
        background-color: theme-palette-color('color', 'primary');
        transition: all linear .25s;

        &:hover {
          cursor: pointer;
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-p');
          transition: all linear .25s;
        }
      }
    }

  }
}
