.wrapper-main-purchase {
  display: flex;
  gap: 12px;
  width: 100%;
  height: 100%;
  border-radius: 12px;

  .wrapper-main-purchase--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: 100%;
    flex: 1 1 auto;
    padding: 12px;
    border-radius: 12px;
    background-color: theme-palette-color('background', 'translucidTwo');

    .chair-screen {
      width: 100%;
      height: 100%;

      .main-purchase-top--chair {
        display: flex;
        flex-direction: column;
        padding: 6px;

        .main-purchase-top--screen {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 125px;

          iframe {
            width: 380px;
            height: 100%;
            border-radius: 12px;
            transform: perspective(130px) rotateX(-10deg);
          }
        }

        .main-purchase-center--chair {
          overflow: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;
          height: 100%;
          max-height: 350px;
          padding: 12px 0 6px 0;

          .chair-row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            height: 50px;

            .main-chair {
              position: relative;
              width: 38px;
              height: 38px;

              img {
                width: 100%;
                height: 100%;

                &:hover {
                  cursor: pointer;
                  border-radius: 6px;
                  background-color: theme-palette-color('background', 'translucidBorder');
                  border: 1px solid theme-palette-color('color', 'primary');
                }
              }

              span {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 10px;
                color: theme-palette-color('font', 'span');
              }

              .tooltip {
                display: flex;
                position: absolute;
                flex-direction: column;
                z-index: 10;
                padding: 4px;
                border-radius: 6px;
                border: 1px solid white;
                color: theme-palette-color('font', 'span');
                background-color: theme-palette-color('background', 'pardo');

                &.tooltip-top {
                  left: 50%;
                  top: -70px;
                  transform: translateX(-50%);
                }

                &.tooltip-bottom {
                  left: 50%;
                  top: 35px;
                  transform: translateX(-50%);
                }

                button {
                  border: none;
                  padding: 4px;
                  margin: 2px 0;
                  cursor: pointer;
                  color: theme-palette-color('font', 'span');
                  background-color: theme-palette-color('background', 'pardo');

                  &:hover {
                    border-radius: 4px;
                    color: theme-palette-color('font', 'subtitle');
                    background-color: theme-palette-color('color', 'primary');
                  }
                }
              }
            }
          }
        }
      }

      .main-purchase-bottom--chair {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 70px;

        .info-chair {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 35px;
          width: 100%;
          height: 20px;

          .chair {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            img {
              width: 20px;
              height: 20px;
            }

            span {
              font-size: 16px;
              color: theme-palette-color('font', 'span');
            }
          }
        }

        button {
          width: 200px;
          height: 35px;
          outline: none;
          border: none;
          border-radius: 12px;
          color: theme-palette-color('font', 'span');
          background-color: theme-palette-color('background', 'pardo');
          box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-p');
          transition: all linear .25s;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-h');
            transition: all linear .25s;
          }
        }
      }
    }

    .food-screen {
      width: 100%;
      height: 100%;

      .main-purchase-btn-return {
        position: absolute;
        width: 42px;
        height: 42px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          border: none;
          outline: none;
          font-size: 28px;
          border-radius: 50%;
          color: theme-palette-color('color', 'primary');
          background-color: theme-palette-color('background', 'pardo');
          transition: all linear .25s;

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 2px 2px theme-palette-color('color', 'box-shadow-h');
            transition: all linear .25s;
          }
        }
      }

      .main-purchase-content--food {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        max-height: 550px;
        padding: 32px 12px 12px 32px;

        .card-food {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          height: 340px;
          padding: 10px;
          border-radius: 12px;
          background-color: theme-palette-color('background', 'pardo');

          img {
            border-radius: 12px 12px 6px 6px;
            max-width: 90%;
          }

          h2 {
            font-size: 18px;
            color: theme-palette-color('font', 'span');
          }

          span {
            width: 100%;
            text-align: start;
            font-size: 12px;
            color: theme-palette-color('grays', 300);
          }

          .stock-food {
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding: 2px 5px;
            background-color: theme-palette-color('background', 'translucidTwo');

            button {
              color: #fff;
              border: none;
              padding: 5px;
              font-size: 14px;
              cursor: pointer;
              background: none;

              &:hover {
                color: #00d1b2;
              }

              &:focus {
                outline: none;
              }
            }

            span {
              color: #fff;
              font-size: 14px;
              margin: 0 10px;
            }
          }

          .price-food {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            span {
              font-size: 20px;
              color: theme-palette-color('color', 'primary');
            }

            button {
              background-color: theme-palette-color('background', 'translucidTwo');
              border: none;
              outline: none;
              cursor: pointer;
              padding: 5px 10px;
              border-radius: 12px;
              color: theme-palette-color('font', 'span');
              transition: all linear .25s;

              &:hover {
                color: theme-palette-color('font', 'subtitle');
                background-color: theme-palette-color('color', 'primary');
                transition: all linear .25s;
              }
            }
          }
        }
      }
    }
  }

  .wrapper-main-purchase--checkout {
    width: 280px;
    height: 100%;
    padding: 12px;
    min-width: 280px;
    border-radius: 12px;
    background-color: theme-palette-color('background', 'translucidTwo');
  }
}

@media (max-width: 500px) {
  .wrapper-main-purchase {
    flex-direction: column;
    height: auto;

    .wrapper-main-purchase--content {
      width: 100%;
      height: auto;

      .chair-screen {
        height: auto;

        .main-purchase-bottom--chair {
          height: 170px;

          .info-chair {
            flex-direction: column;
            gap: 12px;
            height: auto;
          }
        }
      }
    }

    .wrapper-main-purchase--checkout {
      width: 100%;
      height: auto;
    }
  }
}
