<div class="wrapper-main-order-summary">
  <div class="order-summary--left">
    <img src="assets/img/" alt="">
    <span class="info-status-order">Gracias por tu compra </span>
    <span class="info-msg-order">Aquí están los datos de tu compra. En ellos puedes encontrar el correo electrónico con el cual realizaste el pago y donde recibirás la información correspondiente.</span>
    <div class="content-info-user">
      <span class="info-user">Jose Leonardo Quintero Leon</span>
      <span class="info-user">joseleoquintero123@gmail.com</span>
      <span class="info-user">3183843124</span>
    </div>
    <span class="info-msg-order">Estos son los datos de tu transaccion</span>
    <div class="content-info-payment">
      <div class="info-payment">
        <span class="info-payment--title">Metodo de pago: </span>
        <span class="info-payment--cont">Tarjeta de credito</span>
      </div>
      <div class="info-payment">
        <span class="info-payment--title">Tarjeta: </span>
        <span class="info-payment--cont">4111 1111 1111</span>
      </div>
      <div class="info-payment">
        <span class="info-payment--title">Dia : </span>
        <span class="info-payment--cont">25-05-2024</span>
      </div>
      <div class="info-payment">
        <span class="info-payment--title">Total: </span>
        <span class="info-payment--cont">$15.000</span>
      </div>
    </div>
    <span class="button-pay" routerLink="/home">Regresar</span>
  </div>
  <div class="order-summary--right">
    <div class="order-summary-voucher">
      <div class="voucher-top">
        <span class="title-movie">Shazam fury of the gods</span>
        <div class="voucher-info">
          <div class="voucher-info--left">
            <div class="info-left-content">
              <span>Fecha</span>
              <span>25-05-2024</span>
            </div>
            <div class="info-left-content">
              <span>Puestos</span>
              <span>A1 - A2 - B3 - C2 - D10 C5 - C10 - A10</span>
            </div>
            <div class="info-left-content">
              <span>Hora</span>
              <span>16:00 </span>
            </div>
          </div>
          <div class="voucher-info--right">
            <img src="assets/img/movies/shazam.png" alt="Movie">
          </div>
        </div>
      </div>
      <div class="voucher-bottom">
        <div class="">
          <span>25-05-2024</span>
          <span>16:00</span>
        </div>
        <img src="assets/img/qrcode_localhost.png" alt="QR">
      </div>
    </div>
    <div class="order-summary-voucher--food">
      <div class="food-content">
        <img src="assets/img/food/Ensalada.jpg" alt="Comida">
        <div class="info-food">
          <span>Este es el nombre de la comida para que sepas</span>
          <span>Cantidad: 5</span>
          <span>Precio: <em>$15000</em></span>
        </div>
      </div>
    </div>
  </div>
</div>
