<div class="wrapper-main-order-summary">
  <div class="order-summary--left">
    <img src="assets/img/" alt="">
    <span class="info-status-order">Gracias por tu compra </span>
    <span class="info-msg-order">Aquí están los datos de tu compra. En ellos puedes encontrar el correo electrónico con el cual realizaste el pago y donde recibirás la información correspondiente.</span>
    <div class="content-info-user">
      <span class="info-user">{{ dataCheckout.user_name }}</span>
      <span class="info-user">{{ dataCheckout.user_email }}</span>
      <span class="info-user">{{ dataCheckout.user_phone }}</span>
    </div>
    <span class="info-msg-order">Estos son los datos de tu transaccion</span>
    <div class="content-info-payment">
      <div class="info-payment">
        <span class="info-payment--title">Metodo de pago: </span>
        <span class="info-payment--cont">Pasarela de pagos</span>
      </div>
      <!--      <div class="info-payment">-->
      <!--        <span class="info-payment&#45;&#45;title">Tarjeta: </span>-->
      <!--        <span class="info-payment&#45;&#45;cont">4111 1111 1111</span>-->
      <!--      </div>-->
      <div class="info-payment">
        <span class="info-payment--title">Dia : </span>
        <span class="info-payment--cont">{{ dataCheckout.checkout_date }}</span>
      </div>
      <div class="info-payment">
        <span class="info-payment--title">Total: </span>
        <span class="info-payment--cont">$ {{ dataCheckout.checkout_total }}</span>
      </div>
    </div>
    <span class="button-pay" routerLink="/home">Regresar</span>
  </div>
  <div class="order-summary--right">
    <div class="order-summary-voucher">
      <div class="voucher-top">
        <span class="title-movie">{{ dataCheckout.movie_name }}</span>
        <div class="voucher-info">
          <div class="voucher-info--left">
            <div class="info-left-content">
              <span>Fecha</span>
              <span>{{ dataCheckout.movie_presentation_date }}</span>
            </div>
            <div class="info-left-content">
              <span>Puestos</span>
              <span>{{ dataCheckout.checkout_positions }}</span>
            </div>
            <div class="info-left-content">
              <span>Hora</span>
              <span>{{ dataCheckout.movie_presentation_time }}</span>
            </div>
          </div>
          <div class="voucher-info--right">
            <img src="{{dataCheckout.movie_img}}" alt="{{dataCheckout.movie_name}}">
          </div>
        </div>
      </div>
      <div class="voucher-bottom">
        <div class="">
          <span>{{ dataCheckout.movie_presentation_date }}</span>
          <span>{{ dataCheckout.movie_presentation_time }}</span>
        </div>
        <img src="assets/img/qrcode_localhost.png" alt="QR">
      </div>
    </div>
    <div class="order-summary-voucher--food">
      <div class="food-content" *ngFor="let food of dataCheckout.foods">
        <img src="{{food.food_img}}" alt="{{ food.food_name }}">
        <div class="info-food">
          <span>{{ food.food_name }}</span>
          <span>Cantidad: {{ food.food_quantity }}</span>
          <span>Precio: <em>${{ food.food_price * food.food_quantity }}</em></span>
        </div>
      </div>
    </div>
  </div>
</div>
