<div class="content-card-movie" routerLink="movie/{{movie.movie_id}}" *ngFor="let movie of movies">
  <div class="left-center--card__img">
    <img src="{{movie.movie_image}}" alt="{{movie.movie_name_spanish}}">
  </div>
  <div class="left-center--card__text">
    <span class="card-text--title">{{ movie.movie_name_spanish }}</span>
    <div class="content-card-text--category">
      <span class="card-text--category" *ngFor="let category of movie.movie_gender">{{ category }}</span>
    </div>
    <div>
      <em *ngFor="let starClass of countStartMovie(movie.movie_duration)" class="{{ starClass }}"></em>
    </div>
  </div>
</div>
