<div class="wrapper-main-checkout">
  <div class="main-checkout--top">
    <span class="movie-name">Shazam la furia de los dioses</span>
    <span class="movie-info">17-04 18:30</span>
  </div>
  <div class="main-checkout--content">
    <div class="content-main-info--chair" *ngFor="let chair of selectedChairs">
      <div class="content-main-info-chair--left">
        <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
      </div>
      <div class="content-main-info-chair--right">
        <span>Silla {{ chair.row }}{{ chair.column }}</span>
        <span class="chair-cost">${{ schedulePrice }}</span>
      </div>
    </div>
    <div class="content-main-info--food" *ngFor="let food of selectedFoods">
      <div class="content-main-info-food--left">
        <img src="{{food.food_img}}" alt="{{food.food_name}}">
      </div>
      <div class="content-main-info-food--right">
        <span class="food-name">{{ food.food_name }}</span>
        <span class="food-amount">Cant:<em>{{ food.food_quantity }}</em></span>
        <span class="food-price">$ {{ food.food_price * food.food_quantity }}</span>
      </div>
    </div>
  </div>
  <div class="main-checkout--bottom">
    <span class="total-checkout">Total:<em>${{ totalCheckout }}</em></span>
    <button (click)="openOrderSummary()">Pagar</button>
  </div>
</div>
