<div class="wrapper-main-checkout">
  <div class="main-checkout--top">
    <span class="movie-name">Shazam la furia de los dioses</span>
    <span class="movie-info">17-04 18:30</span>
  </div>
  <div class="main-checkout--content">
    <div class="content-main-info--chair">
      <div class="content-main-info-chair--left">
        <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
      </div>
      <div class="content-main-info-chair--right">
        <span>Silla A1</span>
        <span class="chair-cost">$12.000</span>
      </div>
    </div>
    <div class="content-main-info--chair">
      <div class="content-main-info-chair--left">
        <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
      </div>
      <div class="content-main-info-chair--right">
        <span>Silla A2</span>
        <span class="chair-cost">$12.000</span>
      </div>
    </div>
    <div class="content-main-info--chair">
      <div class="content-main-info-chair--left">
        <img src="assets/img/Sillas/silla-seleccionada.svg" alt="Silla seleccionada">
      </div>
      <div class="content-main-info-chair--right">
        <span>Silla A3</span>
        <span class="chair-cost">$12.000</span>
      </div>
    </div>
    <div class="content-main-info--food">
      <div class="content-main-info-food--left">
        <img src="assets/img/food/palomitas.png" alt="Palomitas">
      </div>
      <div class="content-main-info-food--right">
        <span class="food-name">Palomitas de maiz con caramelo</span>
        <span class="food-amount">Cant:<em>2</em></span>
        <span class="food-price">$16.000</span>
      </div>
    </div>
    <div class="content-main-info--food">
      <div class="content-main-info-food--left">
        <img src="assets/img/food/hamburguesa.jpg" alt="Hamburguesa">
      </div>
      <div class="content-main-info-food--right">
        <span class="food-name">Hamburguesa clasica doble carne</span>
        <span class="food-amount">Cant:<em>1</em></span>
        <span class="food-price">$12.000</span>
      </div>
    </div>
    <div class="content-main-info--food">
      <div class="content-main-info-food--left">
        <img src="assets/img/food/pizza.jpg" alt="Pizza">
      </div>
      <div class="content-main-info-food--right">
        <span class="food-name">Pizza tipo americana</span>
        <span class="food-amount">Cant:<em>3</em></span>
        <span class="food-price">$15.000</span>
      </div>
    </div>
    <div class="content-main-info--food">
      <div class="content-main-info-food--left">
        <img src="assets/img/food/wafles.jpg" alt="Wafles">
      </div>
      <div class="content-main-info-food--right">
        <span class="food-name">Wafles de caramelo x4 </span>
        <span class="food-amount">Cant:<em>1</em></span>
        <span class="food-price">$4.500</span>
      </div>
    </div>
  </div>
  <div class="main-checkout--bottom">
    <span class="total-checkout">Total:<em>$83.500</em></span>
    <button>Pagar</button>
  </div>
</div>
