@import "assets/styles/scss/main";
@import "node_modules/primeflex/primeflex";
@import "@ng-select/ng-select/themes/default.theme.css";

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("assets/img/Fondo-2.png");
}

body, * {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.cdk-overlay-dark-backdrop{
  backdrop-filter: blur(5px);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background: transparent !important;
  border-radius: 24px !important;
  //box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.35) !important;
}
