<div class="wrapper-main-modal-movie-info">
  <div class="modal-movie-top">
    <div class="modal-movie-top--left">
      <div class="movie-top-left--img">
        <img src="{{dataMovie.movie_image}}" alt="{{dataMovie.movie_name_spanish}}">
      </div>
      <div class="movie-top-left--info">
        <div class="movie-top-left--info__content">
          <!--          <span class="movie-stars">-->
          <!--            <em *ngFor="let starClass of countStartMovie(dataMovie.movie_rating)" class="{{ starClass }}"></em>-->
          <!--          </span>-->
          <span>{{ dataMovie.movie_release_date }}</span>
          <span>{{ dataMovie.movie_duration }} Min</span>
          <span class="highlighted-text">{{ dataMovie.movie_classification }}</span>
          <span class="highlighted-text">{{ dataMovie.movie_availability }}</span>
        </div>
        <div class="movie-top-left--info__content movie-top-left--info__content--gender">
          <span *ngFor="let category of dataMovie.movie_gender"
                class="movie-category">{{ category }}</span>
        </div>

        <div class="movie-top-left--info__content">
          <span class="movie-text">{{ dataMovie.movie_description }}</span>
        </div>
      </div>
    </div>
    <div class="modal-movie-top--right">
      <div class="movie-top-right--trailer">

        <iframe src="https://www.youtube.com/embed/03n1lgk8E9U?si=1PsMd3PuyZ_j5Gl-" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="movie-top-right--date">
        <div class="right-date--content">
          <span class="title">Estos son nuestros horarios</span>
        </div>
        <div class="right-date--content">
          <span class="hour"
                *ngFor="let hour of dataMovie.movie_schedule">{{ hour.movie_presentation_date }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-movie-bottom">
    <button routerLink="/purchase">Comprar ticket <em class="icon-ticket"></em></button>
  </div>
</div>
