<div class="wrapper-main-modal-movie-info">
  <div class="modal-movie-top">
    <div class="modal-movie-top--left">
      <div class="movie-top-left--img">
        <img src="{{data.movie_img}}" alt="{{data.movie_name}}">
      </div>
      <div class="movie-top-left--info">
        <div class="movie-top-left--info__content">
          <span class="movie-stars">
            <em *ngFor="let starClass of countStartMovie(data.movie_rating)" class="{{ starClass }}"></em>
          </span>
          <span>{{ data.movie_date }}</span>
          <span>{{ data.movie_duration }}</span>
          <span>{{ data.movie_animation }}</span>
        </div>
        <div class="movie-top-left--info__content">
          <span class="movie-category">Drama</span>
          <span class="movie-category">Accion</span>
          <span class="movie-category">Comedia</span>
        </div>
        <div class="movie-top-left--info__content">
          <span class="movie-text">{{ data.movie_text }}</span>
        </div>
      </div>
    </div>
    <div class="modal-movie-top--right">
      <div class="movie-top-right--trailer">
        <iframe src="https://www.youtube.com/embed/03n1lgk8E9U?si=1PsMd3PuyZ_j5Gl-" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="movie-top-right--date">
        <div class="right-date--content">
          <span class="title">Estos son nuestros horarios</span>
        </div>
        <div class="right-date--content">
          <span class="hour">12:30</span>
          <span class="hour">04:30</span>
          <span class="hour">07:30</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-movie-bottom">
    <button>Comprar ticket <em class="icon-ticket"></em></button>
  </div>
</div>
