<div class="wrapper-main-navbar">
  <div class="main-navbar--card" *ngIf="user">
    <div class="navbar-card--profile">
      <img src="assets/img/profile-user.png" alt="Perfil del usuario">
    </div>
    <div class="navbar-card--info">
      <span> {{ user.user_name }} {{ user.user_lastname }}</span>
      <span>3183843124</span>
    </div>
  </div>
  <div class="main-navbar--routes">
    <div class="navbar-routes-top">
      <span routerLink="home">
        <em class="icon-home-f"></em>
        Inicio
      </span>
      <span routerLink="movie">
        <em class="icon-video-camera-f"></em>
        Peliculas
      </span>
      <span routerLink="upcoming-movies">
        <em class="icon-video-camera-f"></em>
        Proximamente
      </span>
      <span routerLink="food">
        <em class="icon-mug-f"></em>
        Comida
      </span>
    </div>
    <div class="navbar-routes-bottom">
      <span (click)="loginModal()" *ngIf="!user"><em class="icon-power"></em> Ingresar</span>
      <ng-container *ngIf="user">
        <span (click)="Logout()"><em class="icon-power"></em>Cerrar sesión</span>
      </ng-container>
    </div>
  </div>
</div>
