<div class="wrapper-main-navbar">
  <div class="main-navbar--card">
    <div class="navbar-card--profile">
      <img src="assets/img/profile-user.png" alt="Perfil del usuario">
    </div>
    <div class="navbar-card--info">
      <span>Jose Leonardo Quintero Leon</span>
      <span>318 384 3124</span>
    </div>
  </div>
  <div class="main-navbar--routes">
    <div class="navbar-routes-top">
      <span routerLink="">
        <em class="icon-home-f"></em>
        Inicio
      </span>
      <span routerLink="movies">
        <em class="icon-video-camera-f"></em>
        Peliculas
      </span>
      <span routerLink="upcoming-movies">
        <em class="icon-video-camera-f"></em>
        Proximamente
      </span>
      <span routerLink="food">
        <em class="icon-mug-f"></em>
        Comida
      </span>
    </div>
    <div class="navbar-routes-bottom">
            <span>
        <em class="icon-power"></em>
        Logout
      </span>
    </div>
  </div>
</div>
